/**
    * @name Plewwow-Theme
    * @version 1.0.7
    * @description My personal Purple-Yellow theme I use
    * @author 2k#6272
    * @source https://github.com/CatchySmile/dthemes
**/

/**
Main text and Elements
**/
:root {
    --background-primary: #1a051e;
    --background-secondary: rgb(20 0 25);
    --background-secondary-alt: rgb(15 0 20);
    --background-tertiary: rgb(13 0 18);
    --background-accent: var(--background-secondary-alt);
    --background-floating: rgb(9 9 9);
    --channeltextarea-background: rgb(19 0 24);
    --searcharea-background: var(--background-secondary);
    --input-background: var(--background-tertiary);
    --channels-default: #a6c515;
    --header-primary: #b2d318;
    --header-secondary: #a6c515;
    --text-normal: #a5c412;
    --text-muted: #9dba13;
    --scroller-thumb: rgb(30, 30, 30);
    --scroller-track: rgb(10, 10, 10);
    --background-modifier-rgb: 40, 40, 40;
    --background-modifier-hover: rgba(var(--background-modifier-rgb), 0.4);
    --background-modifier-active: rgba(var(--background-modifier-rgb), 0.6);
    --background-modifier-selected: rgba(var(--background-modifier-rgb), 0.6);
    --background-modifier-accent: rgba(var(--background-modifier-rgb), 0.48);
    --interactive-normal: #4d005c;
    --interactive-hover: #d6d03a;
    --interactive-active: #dfd938;
    --interactive-muted: rgb(98 111 31);
    --elevation-low: 0 1px 0 rgb(40 40 50 / 20%), 0 1.5px 0 rgba(60, 60, 70, 0.05), 0 2px 0 rgba(40, 40, 50, 0.05);
/**
# Secondary Text and Elements
**/
}
.brand-3g5E0C.item-3XjbnG, .themed-2-lozF.item-3XjbnG {
    color: #dad42f;
}
.clickable-ZD7xvu .icon-2xnN2Y {
    color: rgb(77 0 92);
    --interactive-normal-2: rgb(77 0 92);
    --interactive-hover: #b4ca17;
}
.icon-2xnN2Y {
    display: block;
    width: 24px;
    height: 24px;
    -webkit-app-region: no-drag;
    color: var(--channel-icon-2);
    --channel-icon-2: rgb(77 0 92);
}
.container-ZMc96U.themed-Hp1KC_ {
    background: var(--background-primary-2);
    --background-primary-2: rgb(20 5 25);
}
.colorDefault-CDqZdO {
    color: #95ac19;
    border-color: var(--interactive-normal);
}
.children-3xh0VB:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0px;
    height: 100%;
}
.baseShapeRound-3epLEv {
    border-radius: 8px;
    color: #ddff1d;
    --status-danger: rgb(160 19 188);
}
.brand-3g5E0C.item-3XjbnG, .themed-2-lozF.item-3XjbnG {
    color: #dad42f;
    --background-modifier-hover: rgb(96 6 113);
    --interactive-hover: #ffed3b;
}
.side-2ur1Qk .themed-2-lozF.selected-g-kMVV.item-3XjbnG, .topPill-3DJJNV .themed-2-lozF.selected-g-kMVV.item-3XjbnG {
    background-color: rgb(77 0 92);
}
.title-17SveM {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin: 0 8px 0 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    min-width: auto;
    overflow: hidden;
    white-space: nowrap;
    color: #dfd938;
}
.scroller-hE2gWq {
    padding: 16px;
    height: 100%;
    border-left: 1px solid var(--background-modifier-accent);
    margin-left: 2px;
    background: rgb(20 5 25);
}
.wrapper-2RrXDg {
    background-color: var(--background-secondary);
    border: 1px solid var(--background-modifier-accent);
    --background-primary: rgb(15 1 20);
}
.contentTitle-3CylD3 {
    color: var(--interactive-normal);
    text-transform: uppercase;
    padding: 4px 0;
    color: #dfd938;
}
.slateTextArea-27tjG0 {
    padding-right: 10px;
    position: absolute;
    left: 0;
    right: 10px;
    color: #a29d139e;
}
.guildDetail-3EJhW_ {
    font-size: 14px;
    color: #dfd938;
    line-height: 16px;
}
.header-3anOjb {
    font-weight: 700;
    margin-bottom: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #bdb721;
}
.metadataName-1KMZtB, .metadataSize-2A2s1T {
    font-weight: 500;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #fff720;
}
.root-22AK9z {
    height: 100%;
    width: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: hsl(0,calc(var(--saturation-factor, 1)*0%),100%);
    background: rgb(10 5 12);
}
.quickSelectValue-rmtkbe {
    margin-left: 4px;
    color: #98b11e;
}
.quickSelectLabel-ArUyd9 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #98b11e;
}
.colorable-3rVGna.primaryDark-2UJt1G {
    background: hsl(223,calc(var(--saturation-factor, 1)*6.9%),19.8%);
    background: rgb(20 5 25);
}
.thin-31rlnD, .thin-31rlnD.fade-1R6FHN:hover, .thin-31rlnD.scrolling-20Of9p {
    scrollbar-color: var(--scrollbar-thin-thumb) var(--scrollbar-thin-track);
    background: rgb(20 5 25);
}
.headerTop-3GPUSF {
    display: block;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding: 64px 16px 16px;
    overflow: hidden;
    position: relative;
    background: rgb(20 5 25);
}
.footer-3naVBw {
    padding: 0 16px 16px;
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    background-color: rgb(20 5 25);
    color: var(--interactive-active);
    margin-top: -2px;
}.bodyInnerWrapper-2bQs1k {
    background-color: rgb(10 5 12);
    color: var(--interactive-active);
}
.tabBar-2hXqzU, .tabBarItem-30Te4- {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: rgb(16 3 21);
}
.nameTagWithCustomStatus-5c-v3- {
    margin-bottom: 12px;
    background: rgb(16 3 21);
}
.customStatusActivity-WKWGD- {
    padding: 0 16px 16px;
    background: rgb(16 3 21);
/**
# Taking me 2 hours to figure this shit out...
**/
}
.bodyInnerWrapper-2bQs1k {
    background-color: rgb(20 5 25);
    color: var(--interactive-active);
}
.divider-1wtgZ3 {
    height: 1px;
    background-color: rgb(42 4 42);
    margin-bottom: 12px;
}
.body-1Ukv50, .topSection-13QKHs {
    background-color: rgb(16 3 21);
}
.headerTop-1PNKck {
    position: absolute;
    top: 16px;
    right: 16px;
    left: 160px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: rgb(16 3 21);
}
.header-1c1AhF {
    padding: 24px 16px 0;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    overflow: hidden;
    background: rgb(10 5 12);
}
.container-x8Y1ix {
    border-radius: 8px;
    border: 1px solid var(--background-modifier-accent);
    background-color: var(--background-primary);
    margin-bottom: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    width: 100%;
    padding: 0;
    background: rgb(20 5 25);
}
.theme-dark .footerSeparator-VzAYwb {
    -webkit-box-shadow: inset 0 1px 0 hsla(223,calc(var(--saturation-factor, 1)*6.9%),19.8%,.6);
    box-shadow: inset 0 1px 0 hsla(223,calc(var(--saturation-factor, 1)*6.9%),19.8%,.6);
    background: rgb(10 5 12);
}
.defaultColor-HXu-5n {
    color: #dfd938;
}
.text-md-medium-2avxhQ, .text-md-normal-304U3g {
    font-family: var(--font-primary);
    font-size: 16px;
    line-height: 20px;
    color: #9f9a1b;
}
