/**
    * @name Plewwow-Theme
    * @version 1.0.9
    * @description My personal Purple-Yellow theme I use
    * @author 2k#6272
    * @source https://github.com/CatchySmile/dthemes
**/

/**
Main text and Elements
**/
:root {
    --background-primary: #1a051e;
    --background-secondary: rgb(20 0 25);
    --background-secondary-alt: rgb(15 0 20);
    --background-tertiary: rgb(13 0 18);
    --background-accent: var(--background-secondary-alt);
    --background-floating: rgb(9 9 9);
    --channeltextarea-background: rgb(19 0 24);
    --searcharea-background: var(--background-secondary);
    --input-background: var(--background-tertiary);
    --channels-default: #a6c515;
    --header-primary: #b2d318;
    --header-secondary: #a6c515;
    --text-normal: #a5c412;
    --text-muted: #9dba13;
    --scroller-thumb: rgb(30, 30, 30);
    --scroller-track: rgb(10, 10, 10);
    --background-modifier-rgb: 40, 40, 40;
    --background-modifier-hover: rgba(var(--background-modifier-rgb), 0.4);
    --background-modifier-active: rgba(var(--background-modifier-rgb), 0.6);
    --background-modifier-selected: rgba(var(--background-modifier-rgb), 0.6);
    --background-modifier-accent: rgba(var(--background-modifier-rgb), 0.48);
    --interactive-normal: #4d005c;
    --interactive-hover: #d6d03a;
    --interactive-active: #dfd938;
    --interactive-muted: rgb(98 111 31);
    --elevation-low: 0 1px 0 rgb(40 40 50 / 20%), 0 1.5px 0 rgba(60, 60, 70, 0.05), 0 2px 0 rgba(40, 40, 50, 0.05);
/**
# Secondary Text and Elements
**/
}
.brand-3g5E0C.item-3XjbnG, .themed-2-lozF.item-3XjbnG {
    color: #dad42f;
}
.clickable-ZD7xvu .icon-2xnN2Y {
    color: rgb(77 0 92);
    --interactive-normal-2: rgb(77 0 92);
    --interactive-hover: #b4ca17;
}
.icon-2xnN2Y {
    display: block;
    width: 24px;
    height: 24px;
    -webkit-app-region: no-drag;
    color: var(--channel-icon-2);
    --channel-icon-2: rgb(77 0 92);
}
.container-ZMc96U.themed-Hp1KC_ {
    background: var(--background-primary-2);
    --background-primary-2: rgb(20 5 25);
}
.colorDefault-CDqZdO {
    color: #95ac19;
    border-color: var(--interactive-normal);
}
.children-3xh0VB:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0px;
    height: 100%;
}
.baseShapeRound-3epLEv {
    border-radius: 8px;
    color: #ddff1d;
    --status-danger: rgb(160 19 188);
}
.brand-3g5E0C.item-3XjbnG, .themed-2-lozF.item-3XjbnG {
    color: #dad42f;
    --background-modifier-hover: rgb(96 6 113);
    --interactive-hover: #ffed3b;
}
.side-2ur1Qk .themed-2-lozF.selected-g-kMVV.item-3XjbnG, .topPill-3DJJNV .themed-2-lozF.selected-g-kMVV.item-3XjbnG {
    background-color: rgb(77 0 92);
}
.title-17SveM {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin: 0 8px 0 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    min-width: auto;
    overflow: hidden;
    white-space: nowrap;
    color: #dfd938;
}
.scroller-hE2gWq {
    padding: 16px;
    height: 100%;
    border-left: 1px solid var(--background-modifier-accent);
    margin-left: 2px;
    background: rgb(20 5 25);
}
.wrapper-2RrXDg {
    background-color: var(--background-secondary);
    border: 1px solid var(--background-modifier-accent);
    --background-primary: rgb(15 1 20);
}
.contentTitle-3CylD3 {
    color: var(--interactive-normal);
    text-transform: uppercase;
    padding: 4px 0;
    color: #dfd938;
}
.slateTextArea-27tjG0 {
    padding-right: 10px;
    position: absolute;
    left: 0;
    right: 10px;
    color: #a29d139e;
}
.guildDetail-3EJhW_ {
    font-size: 14px;
    color: #dfd938;
    line-height: 16px;
}
.header-3anOjb {
    font-weight: 700;
    margin-bottom: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #bdb721;
}
.metadataName-1KMZtB, .metadataSize-2A2s1T {
    font-weight: 500;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #fff720;
}
.root-22AK9z {
    height: 100%;
    width: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: hsl(0,calc(var(--saturation-factor, 1)*0%),100%);
    background: rgb(10 5 12);
}
.quickSelectValue-rmtkbe {
    margin-left: 4px;
    color: #98b11e;
}
.quickSelectLabel-ArUyd9 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #98b11e;
}
.colorable-3rVGna.primaryDark-2UJt1G {
    background: hsl(223,calc(var(--saturation-factor, 1)*6.9%),19.8%);
    background: rgb(20 5 25);
}
.thin-31rlnD, .thin-31rlnD.fade-1R6FHN:hover, .thin-31rlnD.scrolling-20Of9p {
    scrollbar-color: var(--scrollbar-thin-thumb) var(--scrollbar-thin-track);
    background: rgb(20 5 25);
}
.headerTop-3GPUSF {
    display: block;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding: 64px 16px 16px;
    overflow: hidden;
    position: relative;
    background: rgb(20 5 25);
}
.footer-3naVBw {
    padding: 0 16px 16px;
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    background-color: rgb(20 5 25);
    color: var(--interactive-active);
    margin-top: -2px;
}.bodyInnerWrapper-2bQs1k {
    background-color: rgb(10 5 12);
    color: var(--interactive-active);
}
.tabBar-2hXqzU, .tabBarItem-30Te4- {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: rgb(16 3 21);
}
.nameTagWithCustomStatus-5c-v3- {
    margin-bottom: 12px;
    background: rgb(16 3 21);
}
.customStatusActivity-WKWGD- {
    padding: 0 16px 16px;
    background: rgb(16 3 21);
/**
# Taking me 2 hours to figure this shit out...
**/
}
.bodyInnerWrapper-2bQs1k {
    background-color: rgb(20 5 25);
    color: var(--interactive-active);
}
.divider-1wtgZ3 {
    height: 1px;
    background-color: rgb(42 4 42);
    margin-bottom: 12px;
}
.body-1Ukv50, .topSection-13QKHs {
    background-color: rgb(16 3 21);
}
.headerTop-1PNKck {
    position: absolute;
    top: 16px;
    right: 16px;
    left: 160px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: rgb(16 3 21);
}
.header-1c1AhF {
    padding: 24px 16px 0;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    overflow: hidden;
    background: rgb(10 5 12);
}
.container-x8Y1ix {
    border-radius: 8px;
    border: 1px solid var(--background-modifier-accent);
    background-color: var(--background-primary);
    margin-bottom: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    width: 100%;
    padding: 0;
    background: rgb(20 5 25);
}
.theme-dark .footerSeparator-VzAYwb {
    -webkit-box-shadow: inset 0 1px 0 hsla(223,calc(var(--saturation-factor, 1)*6.9%),19.8%,.6);
    box-shadow: inset 0 1px 0 hsla(223,calc(var(--saturation-factor, 1)*6.9%),19.8%,.6);
    background: rgb(10 5 12);
}
.defaultColor-HXu-5n {
    color: #dfd938;
}
.text-md-medium-2avxhQ, .text-md-normal-304U3g {
    font-family: var(--font-primary);
    font-size: 16px;
    line-height: 20px;
    color: #9f9a1b;
}
.theme-dark .root-g14mjS {
    -webkit-box-shadow: 0 0 0 1px hsla(216,calc(var(--saturation-factor, 1)*7.2%),13.5%,.6),0 2px 10px 0 hsla(0,calc(var(--saturation-factor, 1)*0%),0%,.2);
    box-shadow: 0 0 0 1px hsla(216,calc(var(--saturation-factor, 1)*7.2%),13.5%,.6),0 2px 10px 0 hsla(0,calc(var(--saturation-factor, 1)*0%),0%,.2);
    background: rgb(20 5 25);
}
.reactionCount-26U4As {
    font-size: 0.875rem;
    font-weight: 500;
    margin-left: .375rem;
    text-align: center;
    color: #9f9a1b;
}
.scroller-1bVxF5 {
    background: #140519;
    padding: 6px 8px;
}
.contentWrapper-3vHNP2 {
    background-color: #1a0720;
    border-radius: 8px;
    -webkit-box-shadow: var(--elevation-stroke),var(--elevation-high);
    box-shadow: var(--elevation-stroke),var(--elevation-high);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: grid;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    grid-template-rows: 24px auto;
    grid-row-gap: 8px;
    height: 100%;
    overflow: hidden;
    padding-top: 16px;
    position: relative;
    z-index: 1;
}
.navButtonActive-1EqC5l, .navButtonActive-1EqC5l:hover {
    color: hsl(0,calc(var(--saturation-factor, 1)*0%),100%);
    color: #bdb721;
}
.stickersNavItem-9B2BzM, .stickersUnseenBadge-2q3wVr {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #bdb721;
}
.navButton-1XuvI- {
    border-radius: 4px;
    color: var(--interactive-normal);
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    padding: 2px 8px;
    -webkit-transition: background-color .1s ease-in-out,color .1s ease-in-out;
    transition: background-color .1s ease-in-out,color .1s ease-in-out;
    color: #bdb721;
}
.navButtonActive-1EqC5l {
    background-color: rgb(77 0 92);
}
.medium-2NClDM .input-2m5SfJ, .medium-2NClDM .tag-Pxnlt9 {
    font-size: 16px;
    line-height: 32px;
    height: 30px;
    padding: 0 8px;
    background: rgb(23 5 29);
}
.inner-2pOSmK {
    position: relative;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 1px;
    min-width: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: rgb(23 5 29);
}
.packHeader-w9jpYl {
    position: sticky;
    top: 0;
    background: rgb(20 5 25);
}
.list-obNEuP {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgb(16 3 21);
}
.inspector-DFKXwB {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 48px;
    width: 100%;
    padding: 0 16px;
    background-color: var(--background-secondary-alt);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
    background: rgb(16 3 21);
}
.standardStickerShortcut-ObSns3 {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: inherit;
    color: var(--interactive-normal);
    cursor: pointer;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 48px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    left: 0;
    opacity: 1;
    position: absolute;
    -webkit-transition: opacity .1s,-webkit-transform .1s;
    transition: opacity .1s,-webkit-transform .1s;
    transition: opacity .1s,transform .1s;
    transition: opacity .1s,transform .1s,-webkit-transform .1s;
    width: 100%;
    background: rgb(16 3 21);
}
.headerLabel-1g790w {
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
    white-space: nowrap;
    margin-right: 8px;
    color: #bdb721;
}
.userPopoutInnerNonPremium-3zrFkp {
    background: linear-gradient(transparent 60px,var(--profile-gradient-primary-color) 0,var(--profile-gradient-secondary-color));
    background: rgb(23 5 29);
}
.userPopoutInnerWithBanner-wsoegj {
    background: linear-gradient(transparent 120px,var(--profile-gradient-primary-color) 0,var(--profile-gradient-secondary-color));
    background: rgb(20 5 25);
}
.textarea-_59yqs {
    background-color: transparent;
    border: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: var(--text-normal);
    font-size: 12px;
    line-height: 14px;
    max-height: 88px;
    padding: 4px;
    resize: none;
    width: 100%;
    background: #140519;
}
.markup-eYLPri code.inline {
    width: auto;
    height: auto;
    padding: .2em;
    margin: -.2em 0;
    border-radius: 3px;
    font-size: 85%;
    font-family: Consolas,Andale Mono WT,Andale Mono,Lucida Console,Lucida Sans Typewriter,DejaVu Sans Mono,Bitstream Vera Sans Mono,Liberation Mono,Nimbus Mono L,Monaco,Courier New,Courier,monospace;
    text-indent: 0;
    border: none;
    white-space: pre-wrap;
    background: rgb(10 5 12);
}
.rolePill-2IJ1vo {
    background-color: var(--profile-role-pill-background-color);
    background: rgb(10 5 12);
}
.overlayBackground-arbZMT {
    position: relative;
    margin: 28px 16px 16px;
    background-color: var(--profile-body-background-color);
    border-radius: 8px;
    max-height: calc(100vh - 128px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: hidden;
    background: #140519;
}
.divider-1tWBgZ {
    margin: 12px 12px 0;
    height: 1px;
    position: sticky;
    top: 0;
    background-color: var(--profile-body-divider-color);
    opacity: var(--profile-body-divider-opacity);
    background: #140519;
}
.section-3FmfOT {
    padding: 12px 6px 0 12px;
    background: #140519;
}
.userTagUsernameNoNickname-2e_xaO {
    color: var(--interactive-active);
    font-weight: 600;
    color: #dfd938;
}
.userPopoutInnerWithBanner-wsoegj {
    background: #140519;
}
.lookFilled-yCfaCM.colorPrimary-2AuQVo {
    color: hsl(0,calc(var(--saturation-factor, 1)*0%),100%);
    background-color: var(--button-secondary-background);
    background: rgb(10 5 12);
}
.formNotice-2nS8ey {
    padding: 20px;
    cursor: default;
    background: rgb(16 3 21);
}
.username-h_Y3Us {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.375rem;
    color: var(--header-primary);
    display: inline;
    vertical-align: baseline;
    position: relative;
    overflow: hidden;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    color: #dad42f;
}
.channelHeader-DFRX8q {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: var(--background-secondary);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 64px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    position: sticky;
    top: 0;
    z-index: 10;
    background: rgb(20 5 25);
}
.cozy-VmLDNB .messageContent-2t3eCI {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    margin-left: -72px;
    padding-left: 72px;
    color: #bdb721;
}
.messages-23can0 {
    background-color: var(--background-primary);
    border-radius: 8px;
    padding: 16px 16px 16px 0;
    background: rgb(23 5 29);
}
.tutorial-Nb3Zz5, .tutorialIcon-25VF3Q {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: rgb(25 6 32);
}
.theme-dark .header-145e10 .tabBar-1qdMr5 .tab-TRrPC8.active-1grPyy {
    background-color: var(--background-accent);
    background: rgb(77 0 92);
}
.header-145e10 {
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 56px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    min-height: 56px;
    padding: 12px 16px;
    background: rgb(10 5 12);
}
.size32-1NLMUP {
    width: 32px;
    min-width: 32px;
    height: 32px;
    min-height: 32px;
    background: rgb(10 5 12);
}
.badge-1ImhlC {
    border-radius: 20px;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-left: 8px;
    position: relative;
    text-shadow: none;
    top: -1px;
    background: rgb(96 6 113);
    color: #dfd938;
}
